<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'peliculas' | translate }}</ion-title>

    <ion-buttons slot="end">

    <ion-label>Lenguaje</ion-label>
    <select name="" id="" (change)="changeLen($event.target.value)">
      <option value="es" [selected]=" lang == 'es'">es</option>
      <option value="en" [selected]=" lang == 'en'">en</option>
    </select>
    </ion-buttons>

  </ion-toolbar>



</ion-header>

<ion-content [fullscreen]="true">

    <app-loading-feedback [state] = "state" (retryPressed)= "obtenerPelis()">
      <app-card [peliculas] = "peliculasPadre"></app-card>
    </app-loading-feedback>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="crearNuevaPeli()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
